<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <style>

        body {
            width: 1e3px;
            width: 1e3px;
        }

        nav{
            text-align: center;
            background: red;
        }

        main {
            background: green;
        }

        main h1 {
            text-align: center;
        }

        #cols { 
        }

        #col-left, #col-right {
            height: 100px;
            width: 100px;
            opacity: 0.5;
            display: inline-block;
        }

        #col-left {
            background: red;
        }

        #col-right {
            background: blue;
        }

        main
    </style>

</head>
<body>
    <!-- ---------------------------------------------------------------------------- -->
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <!-- ---------------------------------------------------------------------------- -->
    <main>
        <h1>About Me</h1>

        <div id="cols">
            <div id="col-left"></div>
            <div id="col-right"></div>
        </div>

    </main>
    <!-- ---------------------------------------------------------------------------- -->
</body>
</html>